/* Beginning of Abstract Shapes */
.shape-red {
  position: fixed; /* Keeps it fixed to the left */
  left: 0px; /* Stays on the left */
  top: 5vh; /* Adjust as needed */
  width: 15vw;
  height: auto;
}

.shape-purple {
  position: fixed; /* Keeps it fixed */
  bottom: 0px; /* Sticks to the bottom-left */
  left: 0px; /* Stays on the left */
  width: 30vw;
  height: auto;
}

.shape-pink {
  position: fixed; /* Keeps it fixed */
  bottom: 0px; /* Sticks to the bottom */
  right: 10vh; /* Stays on the right */
  width: 18vw;
  height: auto;
}

/* End of Abstract Shapes */




/* Responsive Media Queries */
@media screen and (max-width: 768px) {
  .header-title {
    font-size: 3vw;
    left: 3%;
  }

  .buttons-container{
    left: 20vh;
  }

  .main-title {
    font-size: 6vw;
    width: 60vw;
  }

  .description {
    font-size: 2vw;
    width: 60vw;
  }

  .shape-red {
    width: 20vw;
    top: 10vh;
  }

  .shape-purple {
    width: 45vw;
    top: 75vh;
  }

  .shape-pink {
    width: 25vw;
    bottom: -8vh;
  }

  .signup-container {
    width: 80vw;
  }

  .signup-title {
    font-size: 5vw;
  }

  .input-group label {
    font-size: 3vw;
  }

  .input-group input {
    font-size: 3vw;
  }

  .input-group2 label {
    font-size: 3vw;
  }

  .input-group2 input {
    font-size: 3vw;
  }

  .password-warning {
    font-size: 2vw;
    right: -18vw;
  }

  .signup-button {
    font-size: 3vw;
  }
}
