/* Beginning of HomePage.jsx */
.buttons-container-home {
    top: 4vh;
    position: relative;
    left: 20vh;
    display: flex;
    align-items: center;
    gap: 3vw;
    white-space: nowrap;
  }
  
  .search-container{
    position: relative;
    top: 12vh;
    display: flex;
  }
  
  .search-bar{
    width: 150vh;
    height: 3.5vh;
    background-color: #ada5a5;
    color: black;
    border: transparent;
    border-radius: 30px;
    font-weight: bold;
    font-family: 'Potta One', cursive;
    font-size: 0.8vw;
    padding: 1.5vh;
  }
  
  .placeholder-container{
    position: relative;
    top: 17vh;
    padding-left: 7vh;
    gap: 2vh 2vw;
    width: 120vh;
    justify-content: flex-start;
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
  }
  
  .placeholder-box{
    flex: 1 1 calc(33.33%);
    max-width: 23%;
    min-width: 100px;
    display: flex;
    height: 280px;
    background-color:#DE3838;
    padding-bottom: 1vh;
  }
  
  .circular-button {
    position: fixed; /* Keeps button in place even when scrolling */
    top: 45vh; /* Position from top*/
    right: 35vh; /* Position from right */
    width: 180px; /* Circular width */
    height: 180px; /* Circular height */
    background-color: #DE3838; /* Red background */
    color: white;
    border: none;
    border-radius: 50%; /* Makes it circular */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adds slight shadow */
    transition: transform 0.2s ease-in-out;
  }
  
  .circular-button:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
    background-color: #C93030; /* Darker red on hover */
  }
  
  
  .signout-container {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .signout-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .signout-button:hover {
    background-color: #e03c3c;
  }
  /* End of HomePage.jsx */